# Ignores all .csv and .pkl files as can become quite large and are used for medium and long term data storage
*.csv
*.pkl

# Ignores all video data 
data/raw_data/videos/*

# Ignores all preprocessed data
data/preprocessed_data/*

# Ignores all .DS_Store files
**/.DS_Store

# Ignores the 10.000 most common words file -> not provided for copyright reasons
dictionaries/10000_most_common_words.txt

# Ignores all .mp3 .mp4 and .webm files
*.mp3
*.mp4
*.webm

# @TODO: add the file structure for the data folder